
.actions-box {
	position: fixed;

	border: 1px solid black;
	border-radius: 5px;
	padding: .2em 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
	background: rgba(0, 0, 0, .8);

	min-width: 5em;

	opacity: 1;

	transition: opacity 120ms ease;

	// Class applied when the box is closing
	&-faded {
		opacity: 0;
		pointer-events: none;
	}
}

// A single choice inside the actions box
.actions-box-action {
	display: block;
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	outline: none;
	background: transparent;
	font-size: .8rem;
	font-family: inherit;
	color: white;
	text-align: left;

	padding: .2em 1.2em .2em .6em;

	transition: background-color 120ms ease;

	&:hover, &:focus {
		background: rgba(255, 255, 255, .5);
	}

	&:active {
		background: rgba(255, 255, 255, .8);
	}
}
