
/* Structure
 *
 * body.modal-dialog-body  (on close: class removed immediately)
 * 	...
 * 	dialog.body.modal-dialog-root  (on close: `modal-dialog-faded` class added immediately; element removed from DOM after a delay)
 * 		div.modal-dialog-background
 * 		div.modal-dialog-container-outer
 * 			div.modal-dialog-container
 * 				div.modal-dialog-container-inner
 * 					div.modal-dialog
 * 						button.modal-dialog-close  (unless not dismissable)
 * 						header.modal-dialog-header
 * 						div.modal-dialog-content
 */

// Class applied to body while a modal dialog is open (not present while dialog is closing)
.modal-dialog-body {
	overflow: hidden;

	> * {
		pointer-events: none;
		user-select: none;
	}
}

// Contains background and dialog
.modal-dialog-root {
	display: block;  // <dialog> is hidden on Firefox
	border: 0;  // <dialog> has a border on Chrome
	background: transparent;  // <dialog> has a white background on Chrome

	opacity: 1;
	pointer-events: initial;

	transition: opacity 200ms ease;

	// Class applied when a dialog is closing
	&.modal-dialog-faded {
		opacity: 0;
		pointer-events: none;
	}
}

// Background panel used to "absorb" clicks on unclickable elements
.modal-dialog-background {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
}

// Nested containers
.modal-dialog-container-outer {
	position: fixed;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;

	background: rgba(0, 0, 0, 0.3);
}
.modal-dialog-container {
	display: table;
	width: 100%;
	height: 100%;

	box-sizing: border-box;
	padding: 1rem;
}
.modal-dialog-container-inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.modal-dialog {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	text-align: initial;
	overflow: hidden;

	width: 100%;
	max-width: 450px;

	background: white;
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

// Button that closes the dialog (in dismissable dialogs only)
.modal-dialog-close {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	color: white;
	padding: 0;
	border: 0;
	cursor: pointer;
	outline: none;

	transition: text-shadow 200ms ease;
	text-shadow: 0 0 5px transparent;

	&:hover, &:focus {
		text-shadow: 0 0 10px white;
	}

	&:active {
		text-shadow: 0 0 5px white;
	}
}

// Dialog header with title
.modal-dialog-header {
	text-align: center;
	padding: 1rem;
	background: royalblue;
	color: white;
	font-weight: bold;
}

// Dialog content
.modal-dialog-content {
	padding: 1rem;
}
