
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	font-family: 'Roboto', sans-serif;
}

.header,
.footer {
	display: flex;
	align-items: center;

	box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px dodgerblue;
	background: skyblue;
	padding: .6em 1em;

	color: navy;
	text-shadow: 1px 1px 1px white, -1px -1px 1px dodgerblue;

	> * {
		margin: .2em;
	}
}

.header {
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}

.footer {
	border-top: 1px solid skyblue;
}

.main {
	flex: 1;
	display: flex;
	align-items: stretch;
}

.button-icon-round {
	padding: .3em .3em;
	border-radius: 1000px;
	border: 0;
	margin: -.1em .1em;
	box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
	font-size: 1.2em !important;
	background: royalblue;
	color: white;
	cursor: pointer;

	transition: all 60ms ease;
	transition-property: color, background-color, box-shadow;

	&:focus, &:hover {
		outline: 0;
		background: cornflowerblue;
	}

	&:active {
		background: royalblue;
		box-shadow: inset 2px 2px 1px rgba(0, 0, 0,.25), inset -2px -2px 1px rgba(255, 255, 255, .25);
	}

	&:disabled {
		background: #72b0e8;
		color: #abddf1;
		box-shadow: none;
		cursor: inherit;
	}
}
.button-primary,
.button-secondary {
	display: inline-block;
	box-sizing: border-box;
	border-radius: 5px;
	border: 0;
	font: inherit;
	margin: 0 .2em;
	padding: .5em 1em;
	background: transparent;
	color: inherit;
	min-width: 6em;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	transition: background-color 120ms ease;
}

.button-primary {
	background: royalblue;
	color: white;

	&:focus, &:hover {
		background: cornflowerblue;
	}

	&:active {
		background: navy;
	}
}

.button-secondary {
	&:focus, &:hover {
		background: rgba(0, 0, 0, .1);
	}

	&:active {
		background: rgba(0, 0, 0, .3);
	}
}

input[type=text] {
	display: block;
	width: 100%;
	border: 1px solid royalblue;
	background: transparent;
	font-size: inherit;
	padding: .5em 1em;
	box-sizing: border-box;
	outline: none;
	
	transition: background-color 120ms ease;

	&:focus, &:hover {
		background: rgba(0, 0, 0, .05);
	}
}

@import "./interface/modal_dialog.less";
@import "./interface/actions_box.less";

.peer-id {
	font-family: 'Roboto Mono', monospace;
	display: inline-block;
}

.table-space {
	flex: 1;
}
